<div id="login" ng-controller="AuthCtrl" >
	<h2>{{title}}</h2> 
	<form class="form-horizontal" role="form" ng-submit="authenticate()" name="loginForm" >
	  <div class="form-group">
	    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
	    <div class="col-lg-10">
	      <input autofocus="autofocus" type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="authModel.email" maxlength="50" required />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="firstName" class="col-lg-2 control-label">First Name</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="authModel.first_name" maxlength="50" required />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="firstName" class="col-lg-2 control-label">Last Name</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="authModel.last_name" maxlength="50" required />
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" >Sign in</button>
	    </div>
	  </div>
	</form>
</div>